.wrapper{
  max-width: 1450px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_btn01{
  width: 250px;
  padding: 20px;
  background-color: #ef7995;
  color: #fff;
  text-align: center;
  margin-right: 20px;
}
.head_btn02{
  width: 250px;
  padding: 20px;
  background-color: #3b9446;
  color: #fff;
  text-align: center;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}
.menu_btn{
  width: 400px;
  padding: 10px;
  text-align: center;
}
img{
  width: 100%;
}
.sec_01{
 margin-top: 60px;
 margin-bottom: 80px; 
}
.content_01{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content_01 .content_left{
  width: 65%;
}
.content_01 .content_right{
  width: 31%;
}
.sec_01_h1{
  margin-top: 20px;
}
.sec_01_p{
  margin-top: 20px;
  font-size: 16px;
}
.sec_02{
  margin-bottom: 80px;
}
.sec_02_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content_02{
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.sec_02_p{
  margin-top: 20px;
  font-size: 18px;
}
.sec_03{
  margin-bottom: 80px;
}
.sec_03_content {

}
.content_03{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: gainsboro;
}
.content_03 .content_left{
  width: 31%;
}
.content_03 .content_right{
  width: 68%;
}
.sec_03_h1{
  margin-top: 20px;
}
.sec_03_p{
  margin-top: 20px;
  font-size: 16px;
}